<div class="buttons">
  <form action="/users/new" class="navbar">
    <input type="submit" value="sign up">
  </form>

  <form action="/login" class="navbar">
    <input type="submit" value="login">
  </form>

  <form action="/console" class="navbar">
    <input type="submit" value="debug">
  </form>
</div>