<div class="buttons">
  <form action="/users/new" class="navbar">
    <input type="submit" value="sign up">
  </form>

  <form action="/login" class="navbar">
    <input type="submit" value="login">
  </form>
  
  <form class="navbar" action="/users" method="post">
    <input type="hidden" name="user[username]" value=<%= "guest#{Time.now.to_i.to_s[-6..-1]}" %>> 
    <input type="hidden" name="password" value="a">
    <input type="submit" value="play as guest">
  </form>

</div>