<div class="stats">
  <h3>Current User: <%= current_user.username %></h3>
  <h3>Wins: <%= current_user.hangman_wins %></h3>
  <h3>Lossess: <%= current_user.hangman_losses %></h3>
</div>

<div class="letters">
  <%= letterbank %>
</div>

<div id="game_state"></div>
