<div class="player1">
  <h4>You:</h4>
  <h1 id="userSym"><%= @my_sym %></h1>
</div>

<div class="player2">
  <h4>Them:</h4>
  <h1><%= @their_sym %></h1>
</div>

<div class="tttboard">
  <canvas id="board" width="300" height="300"></canvas>
</div>
<script src="/scripts/ttt_script.js"></script>