body {
  background-color: #7751f8;
}

div.navbar {
  width: 100%;
}

form.navbar {
  display: inline-block;
}

div.buttons {
  margin: 0 auto;
}

.letterbank {
  display: inline-block;
}

#game_state {
  margin: 1em;
  font-size: 2em;
  letter-spacing: 5pt;
}

input {
  display: block;
  margin: 1em;
}