body {
  background-color: #7751f8;
}

div.container {
  width: 100%;
}

div.navbar {
  width: 20em;
  margin: 0 auto;
}

div.stats {
  position: fixed;
  right: 1em;
}

.guesses_left {
  position: fixed;
  left: 1em;
  width: 5em;
}

#guesses_left {
  font-size: 4em;
  font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
  font-weight: bold;
  width: 95%;
  text-align: center;
  margin: 0 auto;
}

form.navbar {
  display: inline-block;
}



#map-canvas {
  width: 60%;
  height: 15em;
  margin: 0 auto;
}

#end_game {
  z-index: 1;
  text-align: center;
  width: 80%;
  display: block;
  margin: 0 auto;
}

#learn_more {
  font-size: 2em;
  color: white;
}

#play_again {
  background-color: white;
  border: none;
  font-size: 1.5em;
  display: block;
  margin: 0 auto;
}

#game_state {
  margin: 0.3em auto 1em auto;
  font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
  font-weight: bold;
  width: 95%;
  text-align: center;
  font-size: 3em;
  letter-spacing: .4em;
}

.letters {
  width: 39em;
  text-align: center;
  margin: 0 auto;
}
.letterbank {
  display: inline-block;
  font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
  font-weight: bold;
  font-size: 2.5em;
  margin: .1em;
}

input {
  display: block;
  margin: 1em;
}