body {
  

}

div.container {
  width: 100%;
}

div.home {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(../space.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

div.navbar {
  position: fixed;
  width: 80em;
  margin-left: -40em;
  left: 50%;
  top: 0;
  text-align: center;
}

div.stats {
  position: fixed;
  right: 3em;
  bottom: 0;
  background-color: rgba(255,255,255,.5);
}

.guesses_left {
  position: fixed;
  left: 4em;
  bottom: 0;
  width: 8em;
  background-color: rgba(255,255,255,.5);
}

#guesses_left {
  font-size: 6em;
  font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
  font-weight: bold;
  width: 95%;
  text-align: center;
  margin: 0 auto -.4em auto;
}

form.navbar {
  display: inline-block;
}

.player1 {
  float: left;
  margin-left: 50px;
}

.player2 {
  float: right;
  margin-right: 50px;
}
.tttboard {
  width: 300px;
  margin: 0 auto;
}
#board {
  background-color: white;
  margin: 2em auto;
}

#map-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /*width: 60%;*/
  /*height: 15em;*/
  /*margin: 0 auto;*/
}

#end_game {
  z-index: 1;
  text-align: center;
  width: 60%;
  display: block;
  margin: 4em auto;
  color: white;
  background-color: rgba(0,0,0,.5);
}

#end_game h3 {
  width: 15em;
  margin: 0 auto;
  background-color: rgba(255,255,255,.5);
}

#learn_more {
  font-size: 2em;
  color: white;
}

#play_again {
  background-color: white;
  border: none;
  font-size: 1.5em;
  display: block;
  margin: 0 auto;
}

#game_state {
  font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
  font-weight: bold;
  text-align: center;
  font-size: 3em;
  letter-spacing: .4em;
  color: white;
  position: absolute;
  width: 25em;
  bottom: 3em;
  left: 50%;
  margin-left: -12.5em;
}

.letters {
  background-color: rgba(255,255,255,.5);
  width: 40em;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -20em;
}
.letterbank {
  display: inline-block;
  font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
  font-weight: bold;
  font-size: 2.5em;
  margin: .1em;
}
.letterbank:hover {
  color: #293a8c;
}

input {
  display: block;
  margin: 1em;
}