<h3>Hey! Create an account...</h3>

<form id='new-user' action="/users" method="post">
  <input type="text" name="user[username]" placeholder='...username'>
  <input type="text" name="user[age]" placeholder='...how old are you?'>
  <input type="password" name="password" placeholder="...password">
  <input type="password" name="password_verification" placeholder="...password again">
  <input type="submit" value="Sign-Up">
</form>
